<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @food.long_description %><br />
</p>

<p>
  <b>Energy:</b>
  <%= @food.energy %>
</p>

<p>
  <b>Proteins:</b>
  <%= @food.protein %>
</p>

<p>
  <b>Carbs:</b>
  <%= @food.carbohydrate %>
</p>

<p>
  <b>Fat:</b>
  <%= @food.fat %>
</p>

<%= link_to 'Back', foods_path %>
